# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.db
*.sqlite3
.env

# Node
node_modules/
.next/
dist/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# OS
.DS_Store
Thumbs.db
